NEXT_PUBLIC_API_URL=http://127.0.0.1:8059/api
NEXT_PUBLIC_SITE_URL=http://localhost:3059
NEXT_PUBLIC_WALLET_URL=https://kimlik.az
NEXT_PUBLIC_WALLET_CLIENT_ID=
NEXT_PUBLIC_INDEXABLE=false
NEXT_PUBLIC_LOCAL_TEST_LOGIN=false
